<h1>Welcome <%= name %>!</h1>
<div>
    <h3>Your Name: <%= name %></h3><br>
    <h3>Your Username: <%= username %></h3><br>

</div>
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
</form>